html,
body {
  background-color: #232323;
  color: white;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* PAGES */
.page-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

.logo-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* LOGO */
.logo-img {
  width: 60%;
}

#title-flexercise {
  font-family: Arial;
  font-size: 60px;
  font-style: italic;
  font-weight: 900;
  color: #f5f5f5;
  margin: 0;
}

#slogan-flexercise {
  text-transform: uppercase;
  color: #f9ed32;
  margin: 0;
}

/* EXPLANATION PAGE */
.explanation-background {
  background-color: #f5f5f5ce;
  color: #232323;
  padding: 10px 30px;
}

/* BUTTON */
.my-button {
  box-shadow: 0px 1px 0px 0px #fff6af;
  background: linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
  background-color: #ffec64;
  border-radius: 6px;
  border: 1px solid #ffaa22;
  display: inline-block;
  cursor: pointer;
  color: #333333;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #ffee66;
  margin-top: 50px;
}

.my-button:hover {
  background: linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
  background-color: #ffab23;
}

.my-button:active {
  position: relative;
  top: 1px;
}
