body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
    
}

/* Exercise Pictures with text over */
.exerciseImage { 
  position: relative; 
  width: 100%; 
}

.imageText { 
 position: absolute; 
 top: 150px; 
 left: 0; 
 width: 100%; 
}


.imageText span { 
  color: white; 
  font: bold 72px Helvetica, Sans-Serif; 
  letter-spacing: 2px;  
  padding: 10px; 
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}


.thinline {
 
 background-color: black;
 max-width: 1500px;
 height: 1px;
 margin: auto;
 margin-top: 20px;
 margin-bottom: 20px;
}



